<h3
  mat-dialog-title
  cdkDrag
  cdkDragBoundary=".cdk-overlay-container"
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  class="border-bottom"
>
  Domain Server
</h3>
<div mat-dialog-content class="border-bottom pb-2 mb-2">
  <form id="frmLDAPSvr">
    <input type="hidden" class="form-control" id="txtTableId" />
    <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline>
    <div class="bottom-button-div">
      <button class="btn btn-light" id="BtnTestLDAPServer">Test</button>
      <label class="hidden pull-right" style="color: green">Successful</label
      ><br />
    </div>
  </form>
</div>
<div mat-dialog-actions class="float-right">
  <button class="btn btn-light mr-2" mat-button (click)="onCancel()">
    Cancel
  </button>
  <button class="btn btn-light" mat-button cdkFocusInitial (click)="onSubmit()">
    Submit
  </button>
</div>
