.close-button {
    background: white;
}

.cdk-dialog-container {
    overflow: hidden !important;
}

.container {
    background-color: transparent;

    &.colorfull {
        background-color: white;
    }
}