

@media(max-width: 6700px) {
  .rowr{
    display: none;
  }
  .sidenav{
    display: none;
  }
  .mobie_show{
    display: none;
  }
   .row01{
     display: none;
   }
  .headerx{
     display: none;
  }
  .scrollmenu {
    display: none;
  }
  .storeStyle,.signStyle {
    font-family: 'Oswald', sans-serif;
  }
  .menutiltle{
    font-family: 'Oswald', sans-serif;
  }
.fakepanelTitle{
  font-family: 'Oswald', sans-serif;
}
  .currencySymbol{
    font-family: 'Oswald', sans-serif;
  }
}

/*-------------------*/
 @media(max-width:960px){
  .rowr{
    display: block;
  }
  .sidenav{
    display: block;
   
  }
  .headerx{
    display: block;
 }
  .scrollmenu{
    display: block;
  }
  .row01{
    display: block;
  }
  .mobie_show{
    display: block;
  }
    .carousel{
       height: 290px;
       background-color: rgb(255, 13, 13);
       margin-top: -20px;
    }

    .clearfix{
        display: none;
    }

    .container{
        margin-right:0;
        margin-left: 0;
        
    }
    #main-nav2 #catNavPrimary li:nth-child(1){
     
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #main-nav2 #catNavPrimary li:nth-child(2){
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #main-nav2 #catNavPrimary li:nth-child(3){
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #main-nav2 #catNavPrimary li:nth-child(4){
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #main-nav2{
        margin-top: 10px;
    }
    .fakepanelContainerRight, .adsContainer .row:last-child{
            display: none;
    }
.fakepanelImgContainer{
    background-color: antiquewhite;
}
.background_page_header{
    display: none;
}
.sec1{
    width: 4%;
  }
  .sec2{
    width: %;
  }
  #menu1,#menu2,#menu1,#menu3{
    display: none;
  }
  .sec3{
    width: 4%;
  }

  [class*="col-"] {
    float: left;
    padding: 0px;
  }
  .col-12 ,.Locattion{
    border-radius: 7px;
               background-color: #f1f1f1;
  }

  .headerLocate{
    margin: 12px;
      display: block;
      background-color:#ffffff;
     
  }
  .headr{
      display: none;
  }
  .nav-tabs{
      display: none;
  }

  .container{
     padding: 0;
  }



    .offers{
      display: none;
    }


.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
height: 260px;
}

.top-container {
background-color: #f1f1f1;
text-align: center;
}

.headerx {
padding: 10px 16px;
background: rgb(255, 0, 0);
color: #f1f1f1;
z-index: 1;
}


.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 102px;
}

.map_io{
display: table;
}

.topnav {
border-radius: 6px;
padding: 4px;
background-color: rgb(255, 255, 255);
}

.topnav a {
line-height: inherit;
display: inline-block;
color: #000000;
padding: 2px;
text-decoration: none;
font-size: 12px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}
#lsvg{
display: none;
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
 
  div.scrollmenu a {
      margin: 3px;
      width: 24%;
      align-items: flex-end;
      height: 200px;
    color: white;
    text-align: center;
    background-color: rgb(201, 1, 40);
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: rgb(4, 128, 0);
  }

  
  .product-heading{
      display: block;
      margin-left: 12px;
      font-size: 22px;    
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #wrapper{
      text-align: left;
  }

  .offerTop{
      display:block ;
  }

  .item > img{
         display: none;
  }

  .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: none;
    max-width: 100%;
    height: auto;
}

.mobile_show{
  display: block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 16;
  top: 0;
  left: 0;
  background-color:#ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
/*side navigation */ 
.sidenav a {
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff1100;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


