<div class="contaiter mt-3">
  <div class="row w-100 justify-content-center data">
    <div class="col-3">
      <img src="../../assets/images/table11.png" alt="" />
      <button class="btn btn-light" (click)="onReserve()">Reserve</button>
    </div>
    <div class="col-3">
      <img src="../../assets/images/table11.png" alt="" />
      <button class="btn btn-light">Reserve</button>
    </div>
    <div class="col-3">
      <img src="../../assets/images/table11.png" alt="" />
      <button class="btn btn-light">Reserve</button>
    </div>
  </div>
  <div class="row w-100 justify-content-center data my-5">
    <div class="col-3">
      <img src="../../assets/images/table12.png" alt="" class="" />
      <button class="btn btn-light">Reserve</button>
    </div>
    <div class="col-3">
      <img src="../../assets/images/table12.png" alt="" />
      <button class="btn btn-light">Reserve</button>
    </div>
  </div>
  <div class="row w-100 justify-content-center data">
    <div class="col-3">
      <img src="../../assets/images/table12.png" alt="" class="" />
      <button class="btn btn-light">Reserve</button>
    </div>
    <div class="col-3">
      <img src="../../assets/images/table12.png" alt="" />
      <button class="btn btn-light">Reserve</button>
    </div>
    <div class="col-3">
      <img src="../../assets/images/table12.png" alt="" />
      <button class="btn btn-light">Reserve</button>
    </div>
  </div>
</div>
