<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between px-md-4 bg-white border-bottom shadow-sm sticky">
  <img src="/assets/images/logo_main.png" style="max-height: 70px;" alt="logo" class="logo me-5" routerLink="/">
  <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <button mat-button><i class="fa fa-shopping-cart fa-2x text-dark"></i></button>
      <div *ngIf="(basket$ | async)" class="cart-no">{{(basket$ | async).items.length}}</div>
    </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <button mat-button class="me-5 "><i class="fa fa-user-o fa-2x" (click)="authenticateDropDown()"></i></button>
    </ng-container>

    <ng-container *ngIf="(currentUser$ | async) && (currentUser$ | async).isAdmin">
      <div class="dropdown ms-3 me-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="admin/completed-orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-file-o me-3"></i> Completed orders
          </a>
          <a routerLink="admin/menu-management" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-superpowers me-3"></i> Manage Menu
          </a>
          <a routerLink="admin/users" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-superpowers me-3"></i> Manage Users
          </a>
          <a routerLink="/chat" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-weixin me-2"></i> Chat
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out me-3"></i> Logout
          </a>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="(currentUser$ | async) && !(currentUser$ | async).isAdmin">
      <div class="dropdown ms-3 me-5" dropdown (click)="ddl()">
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart me-3"></i> View Basket
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history me-3"></i> View Orders
          </a>
          <a routerLink="features/Gifts-n-Points" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-diamond me-2"></i> Gifts&Points
          </a>
          <a routerLink="/chat" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-weixin me-2"></i> Chat
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out me-3"></i> Logout
          </a>
        </div>
      </div>

    </ng-container>

  </div>
</div>