<div class="container mt-2">

  <div *ngIf="(basket$ | async) === null">
    <h3>Basket is empty</h3>
  </div>

  <div *ngIf="(basket$ | async)">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">product</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Total</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                    <th scope="row">
                      <div class="p-2">
                        <img src="{{item.imageUrl}}" alt="{{item.productName}}" class="img-fluid col-md-2">
                        <div class="ml-3 d-inline-block align-middle col-md-8">
                          <h5 class="mb-0">
                            <a routerLink="/shop/{{item.productId}}">{{item.productName}}</a>
                          </h5>
                          <span class="text-muted font-weidght-normal font-italic f-block">{{item.categoryName}}</span>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle"><strong>{{item.price | currency :'PLN':'symbol-narrow'}}</strong></td>
                    <td class="align-middle">
                      <div class="d-flex align-items-center">
                        <i (click)="decrementQuantity(item)" class="fa fa-minus-circle mr-2" style="cursor: pointer; font-size: 2em;"></i>
                        <span class="font-weight-bold" style="font-size:1.5em;">
                          {{item.qty}}</span>
                        <i (click)="incrementQuantity(item)" class="fa fa-plus-circle  mx-2" style="cursor: pointer; font-size: 2em;"></i>
                      </div>
                    </td>
                    <td class="align-middle"><strong>{{item.price * item.qty | currency
                        :'PLN':'symbol-narrow'}}</strong></td>
                    <td class="align-middle text-center">
                      <a class="text-danger">
                        <i (click)="deleteItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
              Proceed to checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
