<carousel>
  <slide>
    <img src="../../assets/images/heroes/01.jpg" alt="" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/images/heroes/02.jpg" alt="" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/images/heroes/03.jpg" alt="" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="../../assets/images/heroes/04.jpg" alt="" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>
      Welcome
    </h1>
  </div>
</section>
