<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo_main.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
  <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
    <a class="p-2" [routerLink]="['/']" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}" >Home</a>
    <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="p-2" routerLink="/reservation" routerLinkActive="active">Reservations</a>
  </nav>
  <div class="d-flex align-items-center">
    <a routerLink="/basket" class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
      <div *ngIf="(basket$ | async)" class="cart-no">{{(basket$ | async).items.length}}</div>
    </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
      <a routerLink="/account/login" class="btn btn-outline-secondary me-2">Login</a>
      <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Sign up</a>
    </ng-container>

    <ng-container *ngIf="(currentUser$ | async) && (currentUser$ | async).isAdmin">
      <div class="dropdown ms-3 me-5" dropdown (click)="ddl()">
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="admin/completed-orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-file-o me-3"></i> Completed orders
          </a>
          <a routerLink="admin/menu-management" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-superpowers me-3"></i> Manage Menu
          </a>
          <a routerLink="admin/users" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-superpowers me-3"></i> Manage Users
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out me-3"></i> Logout
          </a>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="(currentUser$ | async) && !(currentUser$ | async).isAdmin">
      <div class="dropdown ms-3 me-5" dropdown (click)="ddl()">
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart me-3"></i> View Basket
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history me-3"></i> View Orders
          </a>
          <a routerLink="features/Gifts-n-Points" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-diamond me-2"></i> Gifts&Points
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out me-3"></i> Logout
          </a>
        </div>
      </div>

    </ng-container>

  </div>

</div>
