<div class="container">
  <h1>Menu items</h1>
  <a routerLink="add" class="btn btn-sm btn-success mb-2">Add Item</a>
  <table datatable class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20%">Picture</th>
        <th style="width: 20%">Name</th>
        <th style="width: 30%">Description</th>
        <th style="width: 20%">Price</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of menus">
        <td>
          <img src="{{ item.pictureUrl }}" alt="" style="width: 20%;"/>
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td style="white-space: nowrap">
          <a routerLink="edit/{{ item.id }}" class="btn btn-sm btn-primary mr-1"
            >Edit</a
          >
          <button
            (click)="deleteMenu(item.id)"
            class="btn btn-sm btn-danger btn-delete-user"
            [disabled]="item.isDeleting"
          >
            <span
              *ngIf="item.isDeleting"
              class="spinner-border spinner-border-sm"
            ></span>
            <span *ngIf="!item.isDeleting">Delete</span>
          </button>
        </td>
      </tr>
      <tr *ngIf="!menus">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
