<h3
  mat-dialog-title
  cdkDrag
  cdkDragBoundary=".cdk-overlay-container"
  cdkDragRootElement=".cdk-overlay-pane"
  cdkDragHandle
  class="border-bottom"
></h3>
<div mat-dialog-content class="border-bottom pb-2 mb-2">
  <div id="frmLDAPSvr row d-flex">
    <input type="hidden" class="form-control" id="txtTableId" />
    <div class="d-inline">
      <bs-datepicker-inline
        [bsValue]="bsInlineValue"
        class="d-inline"
      ></bs-datepicker-inline>
    </div>
    <div class="d-inline mx-5">
      <timepicker [(ngModel)]="mytime" class="d-inline"></timepicker>
    </div>
  </div>
</div>
<div mat-dialog-actions class="float-right">
  <button class="btn btn-light me-2" mat-button (click)="onCancel()">
    Cancel
  </button>
  <button class="btn btn-light" mat-button cdkFocusInitial (click)="onSubmit()">
    Submit
  </button>
</div>
