.data {
  & div {
    & > :hover {
      background-color: rgb(240, 240, 205);
      border-radius: 10px;
    }
    & > img {
      width: 170px;
      height: 170px;
      padding: 10px;
      margin: 0 20%; //centrafize content
    }
    & > button {
      margin: 10px 33%;
    }
  }
}
