<div class="mt-2" style="" >
  <carousel >
    <slide style="height: 400px; width: 80%; margin: 0 10%; ">
      <img
        src="./assets/images/hero1.jpg"
        alt="first slide"
        style="display: block; width: 100%;"
      />
    </slide>
    <slide style="height: 400px; width: 80%; margin: 0 10%; ">
      <img
        src="./assets/images/hero2.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
    <slide style="height: 400px; width: 80%; margin: 0 10%; ">
      <img
        src="./assets/images/hero3.jpg"
        alt="first slide"
        style="display: block; width: 100%"
      />
    </slide>
  </carousel>
</div>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>You have 50 points!</h1>
  </div>
</section>
