<div class="container">
    <div mat-dialog-title class="d-flex justify-content-between">
        <h1 class="d-inline">Authenticate</h1>
        <!-- <button class="close-button d-inline f-right" mat-button mat-dialog-close>X</button> -->
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" mat-dialog-content class="pt-2">

        <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
        <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
        <div mat-dialog-actions class="d-inline">
            <div class="d-flex justify-content-between">
                <button mat-flat-button class="" type="button">Registration</button>
                <button [disabled]="loginForm.invalid" mat-flat-button color="primary" type="submit">
                    Log in</button>
            </div>
        </div>
    </form>
</div>