<div class="container my-2">
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Order date</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders" routerLink="/orders/{{ order.id }}">
        <td># {{ order.id }}</td>
        <td>{{ order.buyerEmail }}</td>
        <td>{{ order.orderDate | date: "medium" }}</td>
        <td>{{ order.total | currency }}</td>
      </tr>
    </tbody>

  </table>
  <button class="btn btn-light float-right my-2" (click)="exportData()">Export</button>
</div>
